<h1>Editing Friend</h1>

<br/>

<%= render "form", friend: @friend %>

<br/>

<div class="btn-group">
  <%= link_to "Show", @friend, class:'btn btn-secondary' %> 
  <%= button_to 'Delete', @friend, method: :delete, data: { turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
 </div>
  <br>
  <br>
  <%= link_to "Back to friends", friends_path, class:'btn btn-dark' %>



