<h1>About us</h1>

<br>

This App is managed by <%= @about_me %>
<br>
<br>
Total Number of Friends in this database is: <%= @total_friends %>
<br>
<br>
55 Harrison Street #600
Oakland CA-94607
<br>
<br>
(510) 267-5010
